$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;
$green: #73d677;
$blue: #07d6f2;
$yellow: #f2b807;

//pokemon colors
$rock: #a1a1a1;
$grass: #73d677;
$ice: #a2cff0;
$fire: #f76545;
$normal: #76aadb;
$posion: #a974bc;
$ground: #9b897b;
$electric: #f7c545;
